.container{
   background: #4942E4;
   height: 100%;
   text-align: center;
   width: 20%;
}
.navList{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navList li{
    text-align: left;
    margin: 1em 0;
    padding: 1em 0;
    background: transparent;
    width: 100%;
    cursor: pointer;
    border: none;
}
.navList li a{
    margin: 1em;
}
.navList li:hover{
    border-right: 2px solid white;
}