.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    width: 20%;
    background: #11009E;
  }
  .greetings{
    font-weight: bold;
    padding-top: 2em;
  }
  .percentageContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .percentage {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    animation: showMetricsAnimation 0.3s ease-in;
  }
  
  .line {
    width: 100%;
    height: 10px;
    background: #11009E;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    animation: showMetricsAnimation 0.3s ease-in-out;
  }
  .fill {
    height: 100%;
    background-color: #362ac1;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
  }
  .deleteHandler{
    margin: 1em;
    padding: 1em 2em;
    width: 85%;
    margin-bottom: 2em;
    border: 2px dashed #0C006B;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .githubAnchor {
    margin: 1em;
    padding: 1em 2em;
    background: #0C006B;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .githubAnchor a{
    color: white;
    text-decoration: none;
  }
  .githubAnchor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: #362ac1;
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease;
    z-index: -1;
  }
  
  .githubAnchor:hover::before {
    width: 200%;
    height: 200%;
  }
  
  
  @media(max-width: 1024px){
    .container{
        position: fixed;
        right: 0;
        transform: translate(102%);
        width: 60%;
        z-index: 100;
        transition: transform 0.3s;
    }
    .showMetrics{
      transform: translate(0%);
    }
}

@keyframes showMetricsAnimation{
  0%{
    opacity: 0;
    transform: translateY(-50%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
