.todoContainer{
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 0 4em;
    margin-bottom: 1em;
}
.menuContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}
.appName{
    font-weight: bold;
    display: none;
}
.burger{
    z-index: 999;
    display: none;
}
.search{
    position: relative;
    order: 1;
}
.search input{
    border-radius: 10px;
    border: 1px solid #11009E;
    background-color: #11009E;
    color: white;
    padding: 1em 2.5em 1em 1em;
}
.search svg{
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 2rem;
}
.date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.newTodo{
    padding: 1em 2em;
    background: #11009E;
    border: 1px solid #11009E;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
.newTodoMobile{
    display: none;
    padding: 1em;
    margin-bottom: 1em;;
    width: 100%;
    background: #11009E;
    border: 1px solid #11009E;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
.newTodo:hover{
    transform: scale(1.1);
}
.metrics{
    display: none;
    background: #11009E;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0.7em;
    font-size: 1.2rem;
}
.todoList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    margin: 0;
    padding: 0;
    padding-top: 1em;
    transition: all 0.3s ease;
    animation: ChangeDisplay 0.5s linear;
  }
  
.createTodo{
    background: transparent;
    border: 2px dashed #11009E;
    padding: 1em 2em;
    min-height: 220px;
    list-style: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
    cursor: pointer;
}
.createTodo button{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.createTodo:hover{
    background: #11009E;
}
.todoListAlternative {
    display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  animation: ChangeDisplay 0.5s linear;
  }

.todoContainer::-webkit-scrollbar {
    width: 1px;
  }
  
  

  @media(max-width: 1024px){
    .metrics{
        display: block;
    }
    .appName{
        display: block;
    }
    .todoList{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .todoListAlternative{
        grid-template-columns: 1fr;
    }
  }
  @media (min-width: 768px) {
    .menuContainer {
      flex-direction: row;
      justify-content: space-between;
    }
    
    .search{
        order:0;
    }
  }
  @media (max-width: 768px) {
    .menuContainer {
        flex-direction: column;
        align-items: center;
      }
  .date{
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.burger{
    display: block;
}
.newTodo{
    display: none;
}
.newTodoMobile{
    display: block;
}
.date button{
    margin: 0 0.5em;
}
.todoContainer{
    padding: 0 1em;
}
.search{
    width: 100%;
}
.search input{
    width: 100%;
    padding: 1em 0;
}
.todoList{
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.todoListAlternative{
    grid-template-columns: 1fr;
}
}
  

.todoEnter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .todoEnterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  
  .todoExit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .todoExitActive {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
  }
  

  @keyframes ChangeDisplay{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
  }