.todoContainer{
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 0 4em;
    margin-bottom: 1em;
}
.menuContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}
.search{
    position: relative;
    order: 1;
}
.search input{
    border-radius: 10px;
    border: 1px solid #4942E4;
    background-color: #4942E4;
    color: white;
    padding: 1em 2em;
}
.search svg{
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 2rem;
}
.date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}
.newTodo{
    padding: 1em 2em;
    background: #4942E4;
    border: 1px solid #4942E4;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.todoList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
    margin: 0;
    padding: 0;
    padding-top: 1em;
  }
  
.createTodo{
    background: transparent;
    border: 2px dashed #4942E4;
    padding: 1em 2em;
    min-height: 220px;
    list-style: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}
.createTodo button{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.createTodo:hover{
    background: #4942E4;
}
.todoListAlternative {
    display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  }

.todoContainer::-webkit-scrollbar {
    width: 1px;
  }
  
  

  @media (min-width: 768px) {
    .menuContainer {
      flex-direction: row;
      justify-content: space-between;
    }
    
    .search{
        order:0;
    }
  }
  @media (max-width: 768px) {
  .date{
    margin-bottom: 1em;
    justify-content: center;
    width: 90%;
}
.search, .search input{
    width: 90%;
}
.todoContainer{
    padding: 0 1em;
}
}
  