.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}
.listActions button{
    background: transparent;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s;
    margin-right:1em;
}
.listActions button:hover{
    transform: scale(1.1);
}
.activeAction{
    color:#11009E;
}
.notActiveAction{
    opacity: 0.5;
    color: white;
}
.selectFilter{
    background-color: #11009E;
    color: white;
    border: none;
    padding: 1em 2em;
    border-radius: 10px;
    cursor: pointer;
}